@charset "UTF-8";




hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

[hidden],
template {
	display: none
}

pre.prettyprint {
	margin: 1em auto;
	padding: 5px 10px;
	white-space: pre-wrap;
	border: 1px solid #0b0c0a;
	font-family: consolas, menlo, courier, monospace;
	background-color: #272822;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	box-shadow: inset 0 0 1px 2px #3c3d39, 0 0 15px rgba(0, 0, 0, .5)
}

pre.prettyprint ol {
	margin-top: 0;
	margin-bottom: 0;
	border: none!important;
	padding: 0 0 0 12px!important
}

pre.prettyprint ol li {
	margin: 0
}

pre.linenums ol li {
	color: #75715e!important;
	list-style: decimal inside!important;
	margin-bottom: 0!important
}

pre.prettyprint .str {
	color: #e6db5a
}

pre.prettyprint .kwd {
	color: #66d9ef
}

pre.prettyprint .com {
	color: #75715e;
	font-style: italic
}

pre.prettyprint .typ {
	color: #66d9ef
}

pre.prettyprint .lit {
	color: #ae81ff
}

pre.prettyprint .pln,
pre.prettyprint .pun {
	color: #fff
}

pre.prettyprint .tag {
	color: #f92672
}

pre.prettyprint .atn {
	color: #a6e22a
}

pre.prettyprint .atv {
	color: #e6db74
}

pre.prettyprint .dec {
	color: #ae81ff
}

* {
	margin: 0;
	padding: 0
}


dl,
dt,
li,
p {
	line-height: 1.6
}

p {
	margin: 0 0 1em
}

li {
	list-style-type: none
}

img {
	border: 0
}

address {
	font-style: normal
}

a:link,
a:visited {
	color: #999;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	opacity: .8;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out
}

a:active {
	color: #999
}

a img:hover {
	opacity: .8;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out
}

.link:hover,
.link a,
a img:hover {
	text-decoration: none
}

.link:hover {
	opacity: .8;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out
}

.underline {
	color: #0693e3!important;
	text-decoration: underline!important
}

input[type=email],
input[type=file],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
	border: 1px solid #e6e6e6;
	color: #666;
	margin-top: 4px;
	padding: 8px;
	max-width: 95%
}

iframe {
	max-width: 95%
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

.clear {
	clear: both
}

.floatLeft {
	float: left!important
}

.floatRight {
	float: right!important
}

.left {
	text-align: left!important
}

.right {
	text-align: right!important
}

.center {
	text-align: center!important
}

.scroll-prevent {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%
}

.mt--5 {
	margin-top: -5px!important
}

.mt--15 {
	margin-top: -15px!important
}

.mt-0 {
	margin-top: 0!important
}

.mt-5 {
	margin-top: 5px!important
}

.mt-10 {
	margin-top: 10px!important
}

.mt-15 {
	margin-top: 15px!important
}

.mt-20 {
	margin-top: 20px!important
}

.mt-25 {
	margin-top: 25px!important
}

.mt-30 {
	margin-top: 30px!important
}

.mt-35 {
	margin-top: 35px!important
}

.mt-40 {
	margin-top: 40px!important
}

.mt-45 {
	margin-top: 45px!important
}

.mt-50 {
	margin-top: 50px!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-5 {
	margin-bottom: 5px!important
}

.mb-10 {
	margin-bottom: 10px!important
}

.mb-15 {
	margin-bottom: 15px!important
}

.mb-20 {
	margin-bottom: 20px!important
}

.mb-25 {
	margin-bottom: 25px!important
}

.mb-30 {
	margin-bottom: 30px!important
}

.mb-35 {
	margin-bottom: 35px!important
}

.mb-40 {
	margin-bottom: 40px!important
}

.mb-45 {
	margin-bottom: 45px!important
}

.mb-50 {
	margin-bottom: 50px!important
}

.mr-10 {
	margin-right: 10px!important
}

.mr-20 {
	margin-right: 20px!important
}

.ml-0 {
	margin-left: 0!important
}

.ml-10 {
	margin-left: 10px!important
}

.pl-0 {
	padding-left: 0!important
}

.pb-0 {
	padding-bottom: 0!important
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: #f4f4f4
}

@media screen and (min-width:992px) {
	body.column2 aside.side-left .title,
	body.column3 aside.side-left .title {
		margin-left: 5px
	}
	body.column2 aside.side-right .title,
	body.column3 aside.side-right .title {
		margin-right: 5px
	}
	body.column1 .wrap {
		max-width: 780px
	}
	body.column2 .side-left,
	body.column2 .side-right {
		width: 270px
	}
	body.column3 .side-left,
	body.column3 .side-right {
		width: 250px
	}
	body.column2 .wrap>.content,
	body.column3 .wrap>.content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	body.column2 .side-left,
	body.column3 .side-left {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	body.column2 main,
	body.column3 main {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto
	}
	body.column3 main {
		padding: 0 16px
	}
	body.column2 .side-left,
	body.column2 .side-right,
	body.column3 .side-left,
	body.column3 .side-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto
	}
}


.content {
	padding: 8px 16px
}

.content main {
	margin-bottom: 64px;
	width: 100%
}

article.detail {
	background-color: #fff;
	box-shadow: 0 0 5px;
	margin-bottom: 16px;
	padding-bottom: 10px
}

article.detail .entry-header {
	margin-bottom: 8px
}

article.detail .entry-header a {
	text-decoration: none;
	color: #575757
}

article.detail .entry-header .entry-title {
	font-size: 1.5em;
	padding: 16px 16px 0;
	margin-top: 0
}

article.detail .entry-content {
	padding: 0 18px 18px;
	font-size: em
}

article.detail .entry-content a {
	color: #0693e3
}

article.detail .entry-content h2 {
	font-size: 1.2em;
	margin: 32px 0 24px;
	clear: both
}

article.detail .entry-content h2:after {
	margin-top: .3em;
	content: "";
	display: block;
	height: 4px;
	background: -moz-linear-gradient(to right, #ffba73, #ffb2b2);
	background: -webkit-linear-gradient(90deg, #ffba73, #ffb2b2);
	background: linear-gradient(90deg, #ffba73, #ffb2b2)
}

article.detail .entry-content h3 {
	font-size: 1em;
	margin: 24px 0 18px;
	padding: .5em 0 .5em .5em;
	border-left: 6px solid #fece78;
	background: -moz-linear-gradient(to right, #ffefd5, #fff);
	background: -webkit-linear-gradient(90deg, #ffefd5, #fff);
	background: linear-gradient(90deg, #ffefd5, #fff);
	clear: both
}

article.detail .entry-content h4 {
	margin: 12px 0;
	clear: both
}

.entry-content strong.active {
	background-position: -100% .5em
}

.entry-content strong {
	background: linear-gradient(transparent 60%, #ff6 0);
	background-image: -webkit-linear-gradient(left, transparent 50%, #ff6 0);
	background-image: -moz-linear-gradient(left, transparent 50%, #ff6 50%);
	background-image: -ms-linear-gradient(left, transparent 50%, #ff6 50%);
	background-image: -o-linear-gradient(left, transparent 50%, #ff6 50%);
	background-image: linear-gradient(left, transparent 50%, #ff6 0);
	background-repeat: repeat-x;
	background-size: 200% .8em;
	background-position: 0 .5em;
	transition: all 3s ease
}

.side-menu .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	background: #575757;
	padding-top: 3px;
	font-weight: 400;
	text-align: center;
	border-radius: 2px
}

.side-menu .title i {
	font-size: 1.5rem
}

.content aside {
	min-width: 270px
}

.sidebar-wrapper {
	background: #fff;
	line-height: 1.6;
	color: #555;
	font-size: .9em;
	box-shadow: 0 0 5px;
	border: 1px solid #f4f4f4;
	margin-bottom: 48px;
	padding: 10px;
	width: 270px
}

.sidebar-title {
	font-size: 1em;
	letter-spacing: 0;
	margin-bottom: 16px;
	margin-top: 0;
	text-transform: uppercase
}

.sidebar-wrapper ul {
	padding: 0
}

.sidebar-wrapper ul li:first-child {
	border-top: none;
	padding-top: 8px
}

.sidebar-wrapper ul li {
	list-style: none;
	line-height: 1.4;
	padding-bottom: 12px;
	padding-top: 12px
}

.footer {
	background: #000;
	text-align: center;
	color: #fff
}

.footer .footer1 {
	background: #575757
}

.footer .footer2 {
	font-size: .8rem
}

.side-menu article {
	height: 300px
}

.btnArea {
	background: #ddd;
	width: 100%;
	font-weight: 700;
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px 0
}

.btnArea input {
	padding: 6px 20px;
	margin: 0 5px
}

table {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-all;
	border-spacing: 0
}

table.searchTable {
	border: none;
	text-align: left;
	margin-top: 15px
}

table.searchTable th {
	background: #ddd;
	color: #666;
	font-weight: 400;
	padding: 7px;
	width: 30%
}

table.searchTable td,
table.searchTable th {
	border-bottom: 2px solid #fff;
	border-right: 1px solid #fff;
	vertical-align: top
}

table.searchTable td {
	background-color: #f6f6f6
}

table.listTable {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: left;
	background: #fff
}

table.listTable th {
	background: #ddd;
	color: #666;
	font-weight: 400;
	white-space: nowrap
}

table.listTable td,
table.listTable th {
	border-right: 1px solid #ddd;
	border-bottom: none;
	text-align: center;
	vertical-align: middle;
	padding: 7px
}

table.listTable td {
	border-top: 1px dotted #ddd
}

table.listTable td.btn input {
	margin: 0 0 5px;
	width: 100%
}

.paging {
	margin: 24px 0
}

.paging ul {
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 10px 0 0;
	margin: 10px 0 0
}

.paging ul li {
	display: inline;
	line-height: 100%;
	margin-right: 5px
}

.paging ul li.focus span {
	display: inline-block;
	background: #e5e5e5;
	font-weight: 700;
	border: 1px solid #e5e5e5;
	padding: 5px 7px 3px
}

.paging ul li.num a {
	background: #fff;
	border: 1px solid #39c;
	padding: 5px 7px 3px
}

.paging ul li a {
	display: inline-block
}

input {
	font-family: inherit;
	font-size: 100%;
	padding: 2px;
	margin: 5px
}

input.txtSmall {
	width: 120px
}

input[type=button],
input[type=submit] {
	cursor: pointer
}

#page-top {
	position: fixed;
	bottom: 32px;
	right: 16px;
	z-index: 100;
	transition: top .5s, bottom .5s
}

#page-top a {
	background: #999;
	color: #fff;
	width: 50px;
	padding: 15px 0;
	text-align: center;
	display: block;
	border-radius: 25px
}

#page-top.hide {
	bottom: -100px
}

.entry-content ul.point {
	position: relative;
	border: 4px solid #0ba9ea;
	border-radius: 5px;
	margin: 12px 0;
	padding: 12px
}

.entry-content ul.point li {
	margin-bottom: 5px
}

.entry-content ul.point li:before {
	content: "・";
	color: #0ba9ea
}

.entry-content ol.memo {
	position: relative;
	border: 4px solid #005;
	border-radius: 5px;
	margin: 12px 0;
	padding: 12px 12px 12px 32px;
	text-indent: 5.5px
}

.entry-content ol.memo li {
	margin-bottom: 5px;
	list-style: decimal;
	color: #005
}

@media screen and (min-width:992px) {
	.header .logo {
		font-size: 1.8em
	}
	.content {
		padding: 24px 48px
	}
	.content main {
		max-width: 850px
	}
	aside.side-left {
		margin-right: 32px
	}
	article.detail {
		margin-bottom: 48px
	}
	article.detail .entry-header .entry-title {
		font-size: 2em;
		padding: 32px 32px 0
	}
	article.detail .entry-header .entry-meta,
	article.detail .entry-header .entry-meta a {
		font-size: .9em;
		padding-right: 12px
	}
	article.detail .entry-content {
		padding: 0 42px 42px;
		font-size: 1em
	}
	article.detail .entry-content h2 {
		font-size: 1.5em;
		margin: 36px 0 24px
	}
	article.detail .entry-content h3 {
		font-size: 1.25em;
		margin: 30px 0 20px
	}
	article.detail .entry-content h4 {
		margin: 25px 0 13px;
		font-size: 1em
	}
}

#sticky-navigator {
	background: #fff;
	line-height: 1.6;
	color: #555;
	font-size: .9em;
	box-shadow: 0 0 5px;
	border: 1px solid #f4f4f4;
	margin-bottom: 48px;
	padding: 10px
}

#sticky-navigator ul {
	padding: 0
}

#sticky-navigator ul li:first-child {
	border-top: none;
	padding-top: 8px
}

#sticky-navigator ul li {
	list-style: none;
	line-height: 1.4
}

#sticky-navigator ul li.nav-h2 {
	padding-top: 6px;
	padding-bottom: 6px
}

#sticky-navigator ul li.nav-h3 {
	margin-left: 10px
}

#sticky-navigator ul li.current {
	background-color: #dadde1
}

#sticky-navigator {
	position: -webkit-sticky;
	position: sticky;
	top: 5px
}

.isystkSlider {
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden
}

.isystkSlider .view-layer {
	width: 94%;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.isystkSlider ul.parent {
	margin-bottom: 10px
}

.isystkSlider li.child {
	float: left
}

.isystkSlider li.child p {
	margin: 0 5px 0 0;
	border: 1px solid #dedede;
	background: #fff;
	padding: 3px
}

.isystkSlider img {
	vertical-align: middle
}

.isystkSlider .next-btn,
.isystkSlider .prev-btn {
	position: absolute;
	top: 50%;
	margin-top: -1em;
	width: 30px
}

.isystkSlider .next-btn img,
.isystkSlider .prev-btn img {
	width: 30px
}

.isystkSlider .next-btn {
	right: 0
}

.isystkSlider .paging {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 6px;
	width: 565px
}

.isystkSlider .paging p {
	margin: 0 5px 0 0;
	border: 1px solid #dedede;
	background: #fff;
	padding: 3px
}

.isystkSlider .paging.dot {
	width: 24%;
	margin: 5px auto
}

.isystkSlider .paging.dot li {
	border: 1px solid #666;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	list-style-type: none
}

.isystkSlider .paging.dot li.active {
	background: #666
}